
body {background-image: url(img/sfondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
}

a{
    color: rgb(255, 255, 255);
    font-family:cursive;
}
h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family:"Arial Black", Gadget, sans-serif;
    letter-spacing: 2px ;
    word-spacing: 2px;
    text-transform: uppercase;
}

p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family:"Arial Black", Gadget, sans-serif;
    letter-spacing: 2px ;
    word-spacing: 2px;
    text-transform: uppercase;
}

h3{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family:"Arial Black", Gadget, sans-serif;
    letter-spacing: 2px ;
    word-spacing: 2px;
    text-transform: uppercase;
}

